*body{
    background-color: white ;
}

#mainarea{
    margin: 0px auto;
    height: 5800px;
    width: 1200px;
    /* background-color: aqua; */
}

#mainarea #toparea{
    height:40px ;
    width: 1200px;
    background-color:#9CAF88;
}

#mainarea #content img{
      margin-top: 6px;
    height:25px;
    width: 25px;
}
#mainarea #toparea #content{
    height: 40px;
    margin-left: 30%;
    margin-top: 0%;
    padding-top: 0px;
    color: #EFF1EC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#mainarea #toparea #content h4{
    padding-top: 10px;
}


#mainarea #logoarea{
    height: 90px;
    width: 1200px;
    background-color: white;
    margin-top: 0px;
}

#mainarea #logoarea #zohra{
    
    float: right;
    margin-right: 50%;
    margin-top: 5px;

}

#mainarea #logoarea #content a{
    float:right;
    margin-left: 20px;
    
    
}




#mainarea #menuarea{
    height: 40px;
    width: 1200px;
    background-color: white;
    border-top: solid 2px black;
}


#mainarea #menuarea ul{
    list-style: none;
    margin-top: 0px;
    padding-top: 0px;
}


#mainarea #menuarea ul li {
    float: left;
    margin-left:5%;
    margin-top: 8px;
}

#mainarea #menuarea ul li a:link,#mainarea #menuarea ul li a:visited{
    color: black;
    /* background-color: white; */
    text-decoration: none;
    /* padding-left: 25px; */
    font-family: Comic Sans MS, Comic Sans, cursive;

}

#mainarea #menuarea ul li a:hover{
    border-bottom:solid 3px black;
}

#mainarea #menuarea ul li ul{
    display: none;
}
#mainarea #menuarea ul li:hover ul{
    display: block;
    position:absolute;
    z-index: 1000;
    padding: 0px;
   
    
    
}
#mainarea #menuarea ul li:hover ul li{
    float: none;
    /* border-bottom: solid 1px black; */
    /* background-color: black; */
  
    width: 120px;
    margin-left:0px;
    

}

#mainarea #menuarea ul li a:link{
    border-right: none;
     margin-top: 20px;
    
}




#mainarea #slidearea{
    height: 500px;
    width: 1200px;
    /* background-color: rgb(226, 236, 232); */
}
#mainarea #scroolarea{
    height: 30px;
    width: 200px;
    /* background-color: rgb(75, 16, 212); */
    float: left;
    margin-left: 40%;
    margin-top: 10px;
}



#mainarea #productarea{
    height: 660px;
    width: 1200px;
    /* background-color: rgb(210, 204, 216); */
    margin-top: 100px;
}

#mainarea #productarea h2{
    margin-left: 35%;
    font-family:Georgia, serif;
    font-size: 1.8rem;
}


#mainarea #productarea ul{
    display: block;
    margin-top: 0px;
    padding-top: 0px;

    margin-left: 27%;

}

#mainarea #productarea ul li{

    list-style: none;
    float: left;
}

#mainarea #productarea ul li a:link ,#mainarea #productarea ul li a:visited{
    color:gray;
    /* background-color:white; */
    text-decoration: none;
    /* padding-left: 40px; */
    margin-left: 40px;
    font-size: 1rem;
    font-family:  Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    
   
    
}

#mainarea #productarea ul li a:hover{
    border-bottom: solid 3px black;
}


#mainarea #productarea #boxarea{
    height: 470px;
    width: 1200px;
    /* background-color: azure; */
    margin-top: 0px;
}

#mainarea  #productarea #boxarea h3{
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
    height: 35px;
    width: 150px;
    background-color: #91A37E;
    color: white;
    border: solid 0px black;
    float: left;
    margin-left: 43%;
    
}

#mainarea  #productarea #boxarea h3 a:link,#mainarea  #productarea #boxarea h3 a:visited{
    text-decoration: none;
    color: white;
}



#mainarea #collectionarea{
    height: 500px;
    width: 1200px;
    /* background-color: chocolate; */

}


#mainarea #collectionarea{
    height: 660px;
    width: 1200px;
    /* background-color: rgb(210, 204, 216); */
    margin-top: 100px;
}

#mainarea #collectionarea h2{
    margin-left: 40%;
    font-family:Georgia, serif;
    font-size: 1.8rem;
}


#mainarea #collectionarea ul{
    display: block;
    margin-top: 0px;
    padding-top: 0px;

    margin-left: 34%;

}

#mainarea #collectionarea ul li{

    list-style: none;
    float: left;
}

#mainarea #collectionarea ul li a:link ,#mainarea #collectionarea ul li a:visited{
    color:gray;
    /* background-color:white; */
    text-decoration: none;
    /* padding-left: 40px; */
    margin-left: 40px;
    font-size: 1rem;
    font-family:  Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    
   
    
}

#mainarea #collectionarea ul li a:hover{
    border-bottom: solid 3px black;
}


#mainarea #collectionarea #boxarea{
    height: 470px;
    width: 1200px;
    /* background-color: azure; */
    margin-top: 0px;
}

#mainarea  #collectionarea #boxarea h3{
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
    height: 35px;
    width: 150px;
    background-color: #91A37E;
    color: white;
    border: solid 0px black;
    float: left;
    margin-left: 40%;
    
}
#mainarea  #collectionarea #boxarea h3 a:link,#mainarea  #productarea #boxarea h3 a:visited{
    text-decoration: none;
    color: white;
}

#mainarea #slides{
    height: 600px;
    width: 1200px;
    /* background-color: wheat; */
}


#mainarea #aboutarea{
    width: 1200px;
    height: 470px;
    /* background-color: bisque; */
    position: relative;
    margin: auto;
}


#mainarea #aboutarea img{
    height: 450px;
    width: 60%;
    /* background-color: aqua; */
    margin-top: 20px;
    float: left;
    display: block;
}

#mainarea #aboutarea #about{
    position: absolute;
    height: 250px;
    width: 500px;
    margin-top: 20px;
    margin-left: 50px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color:#9CAF88; 
    padding: 40px;
    padding-top:45px;
    z-index: 10;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 30px;
    font-family: cursive;
}


#mainarea #aboutarea #about h3 {
    
    height: 45px;
    width: 120px;
   margin-top: 40px;
    background-color: #91A37E;
    text-align: center;
    padding-top: 15px;
    margin-left: 30%;
    color:#9CAF88 ;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

#mainarea #aboutarea #about a:link{
    text-decoration: none;
    color: aliceblue;
  
}

#mainarea #celebratiesarea{
    height: 560px;
    width: 1200px;
    /* background-color: rgb(159, 32, 32); */
    margin-top: 80px;
}

#mainarea #celebratiesarea h2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3rem;
    margin-bottom: 15px;
}
#mainarea #celebratiesarea #boxarea{
    height:500px;
    width: 1100px;
    /* background-color: rgb(35, 6, 116); */
    margin-top: 0px;
    margin-left:45px;
}

#mainarea #celebratiesarea #boxarea .box{
    height: 500px;
    width: 320px;
    margin-left: 35px;
    /* background-color: rgb(251, 246, 246); */
    float: left;
    
}


#mainarea #celebratiesarea #boxarea p{
    color: grey;
    margin-top:3px;
    margin-left: 0px;
    font-size: 1.2rem;
}

#mainarea #celebratiesarea #boxarea a:link,#mainarea #celebratiesarea #boxarea a:visited{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}


#mainarea #celebratiesarea #boxarea a:hover{
    color: blueviolet;
}





#mainarea #feedbackarea{
    height: 300px;
    width: 1200px;
    /* background-color: rgb(179, 131, 131); */
    margin-top: 80px;
}

#mainarea #feedbackarea h2{
    text-align: center;
    font-size: 2.2rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: black;
}

#mainarea #feedbackarea #feed {
    height: 300px;
    width: 900px;
    /* background-color: #EFF1EC; */
    margin-left: 170px;
}

#mainarea #feedbackarea #feed p{
    text-align: center;
    padding-top: 30px;
    
    
}

#mainarea #feedbackarea #feed h4{
    height: 50px;
    width: 200px;
    /* background-color: red; */
    margin-left: 370px;
    /* text-align: center; */
    margin-top: 5%;
    color: #9CAF88;

}

#mainarea #featuredarea{
    height: 250px;
    width: 1200px;
    /* background-color: palevioletred; */
}

#mainarea #featuredarea h2{
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

#mainarea #featuredarea #boxarea {
    height: 200px;
    width:1200px;
    /* background-color:rgb(137, 25, 25); */
    margin-top: 0px;

}

#mainarea #featuredarea #boxarea .box{
    height: 240px;
    width: 300px;
    float: left;
}

#mainarea #featuredarea #boxarea .box img{
    height:200px ;
    width:240px;
    
}

#mainarea #commentarea  {
    height: 400px;
    width: 1200px;
    /* background-color: rgb(10, 27, 135); */
    margin-bottom:20px;
}

#mainarea #commentarea #boxarea{
    height: 400px;
    width: 100%;
    margin-top: 0px;
    background-color:black;
    float: left;
    position: relative;
    margin-bottom: 0px;
}

#mainarea #commentarea #boxarea img{
    height: 400px;
    width: 100%;
    opacity: 0.2;
    display: block;

}
#mainarea #commentarea #boxarea #subscribe{
    position: absolute;
    height: 250px;
    width: 500px;
    margin-top:5px;
    margin-left: 100px;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color:white; /* Light cream */
    /* padding: 40px; */
    padding-top:45px;
    z-index: 10;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
    padding-left: 10px;
    font-family: cursive;
    float: right;
}


#mainarea #commentarea #boxarea #subscribe h3{
    color: black;
    text-align: center;
    font-size: 1.9rem;
    margin: 0px;
    font-family: serif;
}
#mainarea #commentarea #boxarea #subscribe h4{
    height: 50px;
    width: 150px;
    background-color: red;
    text-align: center;
    margin-left: 35%;
    margin-top: 80px;

}
#mainarea #commentarea #boxarea #subscribe #write{
    height: 50px;
    width: 300px;
    border: solid 1px black;
   margin-top: 40px;
   margin-left:30px;
   margin-bottom: 0px;
   float: left;

}
/* #mainarea #commentarea #boxarea #subscribe #write:hover{
    border: solid 5px black;
} */
#mainarea #commentarea #boxarea #subscribe #submit h3{
    width: 140px;
    height: 52px;
    background-color:black;
    margin-top: 40px;
    margin-bottom: 0px;
    float:left;
    color: white;
    
}

#mainarea #commentarea #boxarea #subscribe #submit a:link,#mainarea #commentarea #boxarea #subscribe #submit a:visited{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    font-family:Bookman, URW Bookman L, serif;
    
}


#mainarea #commentarea #boxarea #subscribe p{
    font-size: 1rem;
    color: black;
    margin-left: 30px;
}


#mainarea #servicearea {
    height: 200px;
    width: 1200px;
    /* background-color: yellow; */
    margin-top: 120px;
}
#mainarea #servicearea #boxarea{
    height: 200px;
    width: 1200px;
}
#mainarea #servicearea #boxarea .box{
    height:200px;
    width:280px ;
    /* background-color: aqua; */
    
    float: left;
    margin-left: 20px;
}
#mainarea #servicearea #boxarea .box img{
    margin-left: 120px;
    height: 50px;
    width: 50px;
}
#mainarea #servicearea #boxarea .box h3{
    text-align: center;
    color: #B3C2A3;
}
#mainarea #servicearea #boxarea .box p{
    text-align: center;
    color: #B3C2A3;
}



#mainarea #footerarea #boxarea{
    height: 600px;
    width: 1200px;
    background-color:#9CAF88;
    margin-bottom: 0px;
    margin-top: 0px;
}

#mainarea #footerarea .box{
    height: 450px;
    width: 180px;
    /* background-color: red; */
    margin: 5px;
    float: left;
    margin-top: 0px;
}


#mainarea #footerarea #boxarea .image img  {
    height: 100px;
    width: 100px;
    margin-top: 100px;
    margin-left: 30px;
    
}

#mainarea #footerarea #boxarea .b2 h3{
    text-align:left;
    padding-top: 0px;
    color:white;
    padding-bottom: 0px;
    font-family: Libre Baskerville;
}

#mainarea #footerarea #boxarea .box ul li a:link,#mainarea #footerarea #boxarea .box ul li a:visited{
    text-align: left;
}

#mainarea #footerarea #boxarea .b2 ul{
    display: block;
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;

   
}
/* #mainarea #footerarea #boxarea .b2 ul li{
    padding-top: 10px;
    color:whitesmoke;
    text-align: left;

    
}

#mainarea #footerarea #boxarea .b2 ul li a:link,#mainarea #footerarea #boxarea .b2 ul li a:visited {
    text-decoration: none;
    color:whitesmoke;
    text-align: left;
    margin-right: 20px;
} */

#mainarea #footerarea #boxarea .box ul li{
    padding-top: 10px;
    text-align: left;
    margin: 0px;
}
#mainarea #footerarea #boxarea .box ul li a:link,#mainarea #footerarea #boxarea .box ul li a:visited{
    text-decoration: none;
    color: white;
    font-family: 2rem;
    
}

#mainarea #footerarea #boxarea .info h3 {
    text-align: left;

}

#mainarea #footerarea #boxarea .b2{
    transform: auto;
    
}

#mainarea #footerarea #boxarea p{
   color:whitesmoke;
      transform: auto;
      margin-left: 50px;

     
}

#mainarea #footerarea #boxarea .about {
    width: 200px;
}


#mainarea #footerarea #boxarea .about h3{
    text-align: left;
    
}
#mainarea #footerarea #boxarea .about p{
    margin: 0px;
    padding-top: 10px;
    margin-top: 0px;
   text-align: left;

}


#mainarea #footerarea #boxarea .social img{
    height: 40px;
    width: 40px;
    padding-left: 10px;
    margin-top: 0px;
}



#mainarea #footerarea #boxarea .paymentbox {
    height: 60px;
    width: 100%;
    /* background-color: black; */
}

#mainarea #footerarea #boxarea .paymentbox p{
    color: white;
    margin:0px;
   margin-top: 5px;
   font-size: 1.3rem;
   
   
    

}

#mainarea #footerarea #boxarea .paymentbox #boxes{
    height: 50px;
}

#mainarea #footerarea #boxarea .paymentbox .box{
    height: 50px;
    width:50px;
    /* background-color: green; */
    float: left;
    padding-left: 10px;

}

#mainarea #footerarea #boxarea .paymentbox .box p{
    text-align: justify;
    font-size: 1.2rem;
}

#mainarea #footerarea #boxarea .paymentbox .box img{
    height: 50px;
    width: 400px;
    float: left
}

#mainarea #footerarea #boxarea .paymentbox .box .delivery {
    float: right;
    
}
#mainarea #footerarea #boxarea .paymentbox .delivery img{
    height: 30px;
    width: 250px;
    margin-top: 10px;
}

#bottom{
    height: 30px;
    width: 100%;
    /* background-color: rgb(20, 20, 20); */
    margin-top: 50px;
    text-align: center;
    
   

}
